# This workflow archives the templates from the git hub repository

name: Archive
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  archive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Zip the templates
        run: |
          mkdir templates
          # TODO: Add commands to zip the templates

      - name: Upload zipped artifacts
        uses: actions/upload-artifact@v2.2.4
        with:
          name: templates
          path: templates/*.zip

      - name: Download uploaded artifacts
        id: download
        uses: actions/download-artifact@v2.0.10
        with:
          path: ~/download/

      - name: Release
        id: upload-release-asset
        uses: softprops/action-gh-release@v1
        with:
          files: ${{steps.download.outputs.download-path}}/templates/*.zip
          tag_name: v1.0